#website_header
{
color:rgb(145, 255, 0);
font-size: 35px;
font-weight: bold;

}


.website_header 
{
color : yellow;
font-size : 70px;
font-weight : bold;    
}


#fox 
{
color : red;
font-size : 40px;
font-weight : bold;    
}